<section class="demo-contents">  
  <h1>Home</h1>
  <p>At CARWAVE, you become part of the most trusted, convenient, and affordable wholesale auto auction on the market.
CARWAVE is an online platform that enables dealers to buy and sell vehicles right from the comfort of their home or office. CARWAVE is a trusted inventory source for over 1,900 independent dealerships in California. Our auto auction has a great selection of cars direct from franchise dealerships, with over 1500+ cars to choose from weekly.
With more than 35,000 vehicles sold in 2018, CARWAVE, is California’s largest dealer direct network and is currently expanding into additional states, including Arizona and Nevada.</p>

</section>